#statusy {
  font-family:Arial;
}

#statusy #statusy-widget {
  border-radius: 10px;
  position: fixed;
  bottom: -10;
  right: 25px;
  width: 200px;
  height: 60px;
  background-color: #e0e0e0;
}

#statusy #statusy-widget-expanded {
  border-radius: 10px;
  position: fixed;
  bottom: -10;
  right: 25px;
  height:260px;
  width: 200px;
  background-color:#e0e0e0;
}

#statusy #statusy-widget .statusy-widget-closed-text-small {
  color: #2d2d2d;
  text-align:center;
  margin:0;
  padding:0;
  margin-top:10px;
  font-size:12px;
}

#statusy #statusy-widget .statusy-widget-closed-text-large {
  color: #2d2d2d;
  text-align:center;
  margin:0;
  padding:0;
  font-size:16px;
}
